.nav
    .container
        .row
            ul.nav__list.d-flex.justify-content-start.align-items-center
                li.logo
                    a.logo__link(href="javascript:void(0)")
                        img.logo__img(src="./img/logo.png", alt="logo")
                li.nav__item
                    a.nav__link(href="javascript:void(0)")
                        span.nav__text Home
                li.nav__item
                    a.nav__link(href="javascript:void(0)")
                        span.nav__text Service
                li.nav__item
                    a.nav__link(href="javascript:void(0)")
                        span.nav__text About
                li.nav__item
                    a.nav__link(href="javascript:void(0)")
                        span.nav__text Portfolio
                li.nav__item
                    a.nav__link(href="javascript:void(0)")
                        span.nav__text Page
                li.nav__item
                    a.nav__link(href="javascript:void(0)")
                        span.nav__text Blog
                li.nav__item
                    a.nav__link(href="javascript:void(0)")
                        span.nav__text Contact