.polo
    .container.position-relative
        .row.justify-content-center
            .col.col-12.col-sm-12.col-md-8.col-lg-8.col-xl-6
                .polo__captionwrap
                    h1.polo__caption This is the one page polo
                    h1.polo__backcaption About
        .row.justify-content-center
            .col.col-12.col-sm-12.col-md-12.col-lg-12.col-xl-10
                p.polo__description Molestie ultricies quam. Donec at sem. Praesent pretium. Maorbi quis nulla vehicula felsd laoreet. Sed ullamcorper arcu ente. Sed tempus tempor cild  Nulla vierra ultrices magnal Nam rutrum congue diam.do eiusmod tempor incididunt ut dolore magna aliqua. Utdi eni ad minim veniam, quis nostrud exercitationconsequat. 
        .row.justify-content-center
            .col-10.col-sm-10.col-md-8.col-lg8.col-xl-6
                .polo__buttonwrap.d-flex.justify-content-center
                    button.polo__buttonwrap More info
                    button.polo__buttonwrap Join Expreance
        .row
            .col.col-4.col-sm-4.col-md-4.col-lg-4.col-xl-4
                .polo__cardwrap
                    object.polo__cardico(data="", type="")
                    h2.polo__cardcap
                    .polo__cardhover
                        span.polo__carddesc
                        object.polo__smallring(type="image/svg+xml", data="./img/svg/o.svg")
            .col.col-4.col-sm-4.col-md-4.col-lg-4.col-xl-4
            .polo__cardwrap
                    object.polo__cardico(data="", type="")
                    h2.polo__cardcap
                    .polo__cardhover
                        span.polo__carddesc
                        object.polo__smallring(type="image/svg+xml", data="./img/svg/o.svg")
            .col.col-4.col-sm-4.col-md-4.col-lg-4.col-xl-4
            .polo__cardwrap
                    object.polo__cardico(data="", type="")
                    h2.polo__cardcap
                    .polo__cardhover
                        span.polo__carddesc
                        object.polo__smallring(type="image/svg+xml", data="./img/svg/o.svg")
        .row
            h2.polo__subcaption HERE’RE SOME IMPRESSIVE NUMBERS ABOUT US
        .row
            ul.polo__review.d-flex.justify-content-between
                li.polo__review-item.d-flex.flex-column
                    span.polo__review-num 7533
                    span.polo__review-desc Project Complete
                li.polo__review-item.d-flex.flex-column
                    span.polo__review-num 4222
                    span.polo__review-desc On Going Project
                li.polo__review-item.d-flex.flex-column
                    span.polo__review-num 6980 +
                    span.polo__review-desc Happy Client
                li.polo__review-item.d-flex.flex-column
                    span.polo__review-num 100%
                    span.polo__review-desc Positive Feedback
    object.polo__ring.position-absolute(type="image/svg+xml", data="./img/svg/o.svg")
    img.polo__img.position-absolute(src="./img/ipad.png", alt="ipad")