.slider
    .container.position-relative
        .row
            .col.col-12.col-sm-12.col-md-8.col-lg-8.col-xl-8.p-0
                .slider__wrapper
                    .slider__semiwrap
                        h1.slider__caption CREATIVE <br> AND PROFESSIONAL
                        span.slider__description  Use, by you or one client, in a single end product which end users are not charged for. Use, by you or one client, in a single end product which end users are not charged for.
                        .row.no-gutters
                            .col.p-0
                                button.slider__button contact us
                    .slider__semiwrap
                        h1.slider__caption TESTING <br> AND PROFESSIONAL
                        span.slider__description  Use, by you or one client, in a single end product which end users are not charged for. Use, by you or one client, in a single end product which end users are not charged for.
                        .row.no-gutters
                            .col.p-0
                                button.slider__button contact us
                    .slider__semiwrap
                        h1.slider__caption DEVELOPMENT <br> AND PROFESSIONAL
                        span.slider__description  Use, by you or one client, in a single end product which end users are not charged for. Use, by you or one client, in a single end product which end users are not charged for.
                        .row.no-gutters
                            .col.p-0
                                button.slider__button contact us
                
        img.slider__img.position-absolute(src="./img/svg/manNew.png")
        object.slider__ring(type="image/svg+xml", data="./img/svg/o.svg")
        object.slider__smallring(type="image/svg+xml", data="./img/svg/o.svg")
        object.slider__circle(type="image/svg+xml", data="./img/svg/ellipse 1.svg")